@import "../../../node_modules/@lcu/common/assets/theming/common-theme";
@import "../../../node_modules/@lcu/common/assets/styles/utils/margins-padding";
@import "../../../node_modules/@lcu/common/assets/styles/utils/fathym-cursors";

$global-theme: fathym-ivy-theme(true);

$primary: map-get($global-theme, primary);
$accent: map-get($global-theme, accent);
$warn: map-get($global-theme, warn);

$orange-accent: map-get($mat-orange, 500);
$green-accent: map-get($mat-green, 400);
$yellow-accent: map-get($mat-yellow, 600);

$black: rgb(17, 17, 17);
$white: rgb(238, 238, 238);
$success: map-get($mat-green, A700);

// $primary-logo: $fathym-default-logo;
$logo-color: map-get(map-get($global-theme, "foreground"), "icon");
$divider-size: 5px;
$divider: mat-color($primary);
$background: map-get(map-get($global-theme, "background"), "background");
$background-fill: rgba(map-get($mat-grey, 900), 0.75);
$background-fill-full: rgba(map-get($mat-grey, 900), 1);
$foreground: map-get(map-get($global-theme, "foreground"), "base");
$primary-text: mat-color($primary);
$secondary-text: map-get(
  map-get($global-theme, "foreground"),
  "secondary-text"
);

  /**
  * Set initial color values
  */
  :root {
    /**
    * Set initial theme color values
    * these are pulled from the current theme, but can be whomever.
    */
      --primary: #{mat-color($primary)};
      --accent: #{mat-color($accent)};
      --warn: #{mat-color($warn)};
      --dark-background: #222222;
      --light-background: #f2f2f2;
      // --dark-background: #{invert(mat-color($background, card, 1))};
      // --light-background: #{mat-color($background, card)};
      --light-text: #{map-get(map-get($global-theme, 'foreground'), 'text')};
      --dark-text: #{invert(map-get(map-get($global-theme, 'foreground'), 'text'))};
      // --background: #{invert(map-get($background, background))};
  
      /**
      * Brand accent colors - pulled from current theme, but can be whomever
      */
      --orange-accent: #{map-get($mat-orange, 500)};
      --green-accent: #{map-get($mat-green, A400)};
      --yellow-accent: #{map-get($mat-yellow, 600)};
      --purple-accent: #{map-get($mat-purple, 500)};
      --cyan-accent: #{rgba(map-get($mat-cyan, A100), .75)};
      --pink-accent: #{map-get($mat-pink, 500)};
      --success: #{map-get($mat-green, A400)};
  }

@function set-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mat-menu-content {
  .mat-button-base {
    width: 100%;
  }
}

.logo-config {
  background-position: center;
  background-repeat: no-repeat;
}

.fathym-logo {
  background-image: fathym-logo(thinky-logo, mat-color($accent), 1);
  width: 50px;
  height: 60px;
  @extend .logo-config;
}

.fathym-full-logo {
  background-image: fathym-logo(thinky-full-logo, mat-color($accent), 1);
  width: 160px;
  height: 60px;
  @extend .logo-config;
}

.no-access {
  background-color: rgba(mat-color($warn), 0.5);
}

.main-primary-text {
  color: mat-color($primary) !important;
}

.main-accent-text {
  color: mat-color($accent) !important;
}

.secondary-text {
  color: $secondary-text;
}

.orange-accent {
  background-color: $orange-accent;
  color: $light-primary-text !important;
}

.green-accent {
  background-color: $green-accent;
  color: map-get(map-get($mat-green, contrast), 600);
}

.theme-accent-text {
  color: mat-color($accent);
  background-color: transparent !important;
}

.orange-accent-text {
  color: $orange-accent;
}

.yellow-accent-text {
  color: $yellow-accent;
}

.green-accent-text {
  color: $green-accent;
}

.divider-fill-vert {
  background-color: $divider;
  min-height: 100%;
  top: 10%;
  bottom: 10%;
  min-width: $divider-size;
}

.divider-fill-hor {
  background-color: $divider;
  height: $divider-size;
  width: 100%;
}

.background-fill {
  background-color: $background-fill;
}

.background-fill-full {
  background-color: $background-fill-full;
}

.rowHighlight:hover {
  background-color: rgba(map-get($accent, 500), 0.07);
}

//This is commented out because it is causing the mat ripple to not be centered
// .mat-button-base {
//   padding: 0 16px !important;
// }