<div fxLayout="column" class="home-container">
  <h1>Welcome to the LCU-Starter-App</h1>
  <div fxLayout="column">
    <app-host-dashboard-card-element
      [context]="{ Title: 'Testing', Icon: 'compare_arrows' }"
    >
      <nav>
        <a mat-raised-button>Things</a>

        <a mat-raised-button>Things</a>
      </nav>

      <span class="card-subtitle"> We subtitling... </span>

      <div>
        <div>This be everything else</div>

        <p>Get it</p>

        <ngx-monaco-editor
          [options]="Options"
          [(ngModel)]="Code"
        ></ngx-monaco-editor>

        <pre>{{ OptsStr | json }}</pre>

        <ngx-monaco-editor
          [options]="Options"
        ></ngx-monaco-editor>
        <!-- <lcu-code-editor
          [options]="Options"
        ></lcu-code-editor> -->
      </div>

      <span class="card-actions">
        <div fxFlex></div>

        <a mat-raised-button (click)="SetOptions()">Things</a>
      </span>
    </app-host-dashboard-card-element>
  </div>
</div>
